*{
    margin: 0%;
    padding: 0%;
}

:root{
    --navbar-height:59px;

}

#navbar{
    display: flex;
    align-items: center;
}

#logo{
margin: 10px 34px;
}
#logo img{
     height: 59px;
     margin: 3px 6px;
}